/* .card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12rem;
  margin-top: 2rem;
  z-index: -2;
}
.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 10px;
  cursor: pointer;
}

.card-img {
  width: 13rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-top: 1rem;
  display: flex;
}
.total-reviews {
  margin-left: 10px;
}
.ratings-star {
  margin-right: 12px;
}
.card-price {
  display: flex;
  gap: 20px;
  align-items: center;
} */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust to fit items properly */
  padding: 0 2rem;
  margin-top: -2.3rem;
}

.card {
  flex: 1 1 21%; /* This will adjust the width of the cards */
  margin: 20px 0;
  border: 2px solid #ededed;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.card-img {
  width: 100%; /* Make the image responsive */
  height: auto;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-reviews {
  margin-left: 10px;
}

.ratings-star {
  margin-right: 2px;
}

.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
